@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.Rectangle {
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    border-bottom: solid 1px rgba(161, 155, 155, 0.3);
    font-family: Montserrat;
}

.Logo {
    width: 38px;
    height: 40px;
    object-fit: contain;
    margin-left: 1em;
    transition: all 0.4s;
    cursor: pointer;
}

.Logo:hover {
    transform: scale(1.1);
    transition: all 0.4s;
}
  
.nav-bar{
    display: flex;
    list-style: none;
    font-weight: 700;
    width: 30%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 2em;
}

.nav-bar .nav-link {
    text-decoration: none;
    color: black;
}

.nav-bar li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    cursor: pointer;
}

.nav-bar .model {
    width: 126px;
    transition: all 0.4s;
}

.nav-bar .model:hover {
    color: #fb1414;
    transition: all 0.4s;
}

.nav-bar .ficha {
    width: 150px;
    transition: all 0.4s;
}

.nav-bar .ficha:hover {
    color: #fb1414;
    transition: all 0.4s;
}

.Men {
    width: 41px;
    height: 18px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #191919;
    display: flex;
    transition: all 0.4s;
    display: flex;
    justify-content: flex-end;
    width: 60%;
}

.Men:hover {
    color: #fb1414;
    transition: all 0.4s;
}

.Gray {
    width: 25px;
    height: 18px;
    object-fit: contain;
    cursor: pointer;
}

@media (max-width: 850px) {
    .nav-bar {
        width: 70%;
    }
}

@media (max-width: 650px) {
    .Men p {
        display: none;
    }

    .Men {
        width: 80%;

    }

    .nav-bar {
        display: none;
    }

    .Rectangle {
        height: 50px;
    }
}

